& when (@media-common =true) {
    .cms-home.cms-index-index.page-layout-1column {
        .page-wrapper>main.page-main {
            max-width: 1920px;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .nav-sections {
            margin: 0;
        }
    }


    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        padding: 0;
        margin: 0;
        color: @color-elogic-black;
    }

    .banner__wrap {
        background-color: @color-elogig-bg;
        padding: 5rem;

        .banner__body {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-box-align(center);
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 1000px;
            margin: 0 auto;

            .banner__text {
                .banner__title {
                    letter-spacing: 1.5px;
                    .lib-font-size(36);
                    text-transform: uppercase;
                    margin-bottom: 0.5rem;

                    span {
                        font-weight: @font-weight__semibold;
                    }
                }

                .banner__subtitle {
                    color: @color-elogic-gray-main;
                    text-transform: capitalize;
                    margin-bottom: 3rem;
                }

                .banner__link {

                    &:hover,
                    &:active,
                    &:focus {
                        color: @color-elogic-gray-main;
                        border-color: @color-elogic-gray-main;
                    }

                    color: @color-elogic-black;
                    text-decoration: none;
                    text-transform: uppercase;
                    .lib-font-size(15);
                    border-bottom: 1px solid @color-elogic-black;
                    padding-bottom: 0.5rem;


                }
            }
        }

    }

}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__xs) {
    .banner__wrap>.banner__body {
        .banner__text {

            .banner__link {
                .lib-font-size(10);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__s) {

    .banner__wrap>.banner__body {
        .banner__text {
            .banner__title {
                .lib-font-size(30);
                margin-bottom: 1.5rem;
            }

            .banner__link {
                .lib-font-size(13);
            }
        }

    }
}

.media-width(@extremum, @break) when (@extremum ='max') and (@break =@screen__m) {
    .banner__wrap>.banner__body {
        .banner__text {
            text-align: center;

        }
        .banner__pic {
            max-width: 75%;
            padding-top: 40px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__m) {
    .banner__wrap>.banner__body {
        .banner__text {
            text-align: center;
        }
        .banner__pic {
            padding-top: 35px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum ='min') and (@break =@screen__l) {
    .banner__wrap>.banner__body {
        .banner__text {
            text-align: left;
        }

        .banner__pic {
            padding-top: 0;
        }
    }
}
